In [8]:
import datetime
import yfinance as yf

In [57]:
nycb = yf.Ticker("nycb")
nycb

yfinance.Ticker object <NYCB>

In [58]:
nycb.info['forwardPE']

7.1597223

In [59]:
nycb.info['dividendRate']

0.68

In [60]:
nycb.info['marketCap']

7445366784

In [61]:
nycb.info["fiftyTwoWeekHigh"]

11.02

In [70]:
nycb.info["industry"]

'Banksâ€”Regional'

In [71]:
nycb.info["twoHundredDayAverage"]

9.2529

In [73]:
nycb.info["dividendYield"]

0.0674

In [74]:
nycb.info["sharesShort"]

46722023

In [75]:
#short interest
nycb.info["sharesPercentSharesOut"]

0.0647

In [64]:
nycb.major_holders

        0                                      1
0   1.25%        % of Shares Held by All Insider
1  57.07%       % of Shares Held by Institutions
2  57.80%        % of Float Held by Institutions
3     621  Number of Institutions Holding Shares

In [65]:
nycb.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,Blackrock Inc.,83527813,2023-03-30,0.1157,861171787
1,"Vanguard Group, Inc. (The)",65787517,2022-12-30,0.0911,678269327
2,Dimensional Fund Advisors LP,34615576,2023-03-30,0.0479,356886603
3,State Street Corporation,21897669,2022-12-30,0.0303,225764976
4,Citadel Advisors Llc,12556354,2022-12-30,0.0174,129456015
5,"Wellington Management Group, LLP",11897587,2023-03-30,0.0165,122664126
6,"Geode Capital Management, LLC",9241347,2022-12-30,0.0128,95278291
7,Bank Of New York Mellon Corporation,8666855,2023-03-30,0.0120,89355278
8,"Brandywine Global Investment Management, LLC",7932246,2023-03-30,0.0110,81781459
9,Kahn Brothers Group Inc.,6389144,2023-03-30,0.0088,65872077

In [63]:
# get option chain calls data for specific expiration date
opt = nycb.option_chain(date='2023-05-19')
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,NYCB230519C00001000,2023-04-28 17:16:38+00:00,1.0,9.30,9.10,9.40,0.00,0.000000,2,0,12.500002,True,REGULAR,USD
1,NYCB230519C00004000,2023-03-29 15:40:10+00:00,4.0,5.08,6.60,6.80,0.00,0.000000,4,4,7.578126,True,REGULAR,USD
2,NYCB230519C00005000,2023-05-04 16:03:57+00:00,5.0,4.35,5.10,5.40,0.00,0.000000,5,3,4.031255,True,REGULAR,USD
3,NYCB230519C00006000,2023-04-14 13:40:07+00:00,6.0,3.00,4.00,4.20,0.00,0.000000,1,1,0.000010,True,REGULAR,USD
4,NYCB230519C00007000,2023-05-15 15:25:05+00:00,7.0,3.30,3.10,3.40,0.23,7.491858,5,24,2.390629,True,REGULAR,USD
5,NYCB230519C00008000,2023-05-15 17:10:00+00:00,8.0,2.35,2.20,2.35,0.10,4.444440,25,440,1.406253,True,REGULAR,USD
6,NYCB230519C00009000,2023-05-15 19:34:40+00:00,9.0,1.40,1.25,1.35,0.28,24.999996,235,6209,0.859376,True,REGULAR,USD
7,NYCB230519C00010000,2023-05-15 19:56:54+00:00,10.0,0.37,0.35,0.45,0.10,37.037033,1278,14536,0.562504,True,REGULAR,USD
8,NYCB230519C00011000,2023-05-15 19:58:23+00:00,11.0,0.04,0.00,0.05,0.01,33.333336,29,2969,0.531255,False,REGULAR,USD
9,NYCB230519C00012000,2023-05-15 18:05:41+00:00,12.0,0.05,0.00,0.05,0.04,400.000000,4,1143,0.812502,False,REGULAR,USD
10,NYCB230519C00013000,2023-05-03 15:33:56+00:00,13.0,0.05,0.00,0.05,0.00,0.000000,1,14,1.140629,False,REGULAR,USD